<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="p-grid p-align-center vertical-container">
      <div class="p-col col-left">
        <div class="box"></div>
      </div>
      <div class="p-col col-centered">
        <div class="box">
          <p-card>
            <h1>Crean an account</h1>
            <span class="ui-float-label">
              <input id="input-username" type="email" formControlName="email" pInputText>
              <label for="input-username">E-mail</label>
            </span>
            <p *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
              class="text-danger">
              <span *ngIf="loginForm.get('email').errors.required">Email is required. </span><br>
              <span *ngIf="loginForm.get('email').errors.notValid">Only {{ validDomains.join(',') }} are
                allowed.</span>
            </p>
            <span class="ui-float-label">
              <input id="input-name" type="text" formControlName="name" pInputText>
              <label for="input-name">Name</label>
            </span>
            <p *ngIf="loginForm.get('name').invalid && (loginForm.get('name').dirty || loginForm.get('name').touched)"
              class="text-danger">
              <span *ngIf="loginForm.get('name').errors.required">Name is required. </span>
            </p>
            <span class="ui-float-label">
              <input id="input-password" type="password" formControlName="password" pInputText>
              <label for="input-password">Password</label>
            </span>
            <p *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
              class="text-danger">
              <span *ngIf="loginForm.get('password').errors.required ">Password is required.</span>
              <span *ngIf="loginForm.get('password').errors.minlength">Minimum length is: {{ passMinLength }}</span>
            </p>
            <span class="ui-float-label">
              <input id="input-password-confirm" type="password" formControlName="confirmPassword" pInputText>
              <label for="input-password-confirm">Confirm password</label>
            </span>
            <p *ngIf="loginForm.get('confirmPassword').invalid && (loginForm.get('confirmPassword').dirty || loginForm.get('confirmPassword').touched)"
              class="text-danger">
              <span *ngIf="loginForm.get('confirmPassword').errors.required ">Password is required.</span>
              <span *ngIf="loginForm.get('confirmPassword').errors.minlength">Minimum length is: {{ passMinLength }}</span>
            </p>
            <p-button label="Save" type="submit" [disabled]="loginForm.invalid"></p-button>
          </p-card>
        </div>
      </div>
      <div class="p-col col-right">
        <div class="box"></div>
      </div>
    </div>
  </form>
  