<article class="article-contacts">
  <input type="text" placeholder="Search information..." class="input-search" [(ngModel)]="information" pInputText>
  <p-button label="Search" (click)="searchInformation()"></p-button><p></p>
  <p-scrollPanel [style]="{width: '100%', height: '400px'}" styleClass="custom">
    <app-content-contact-item *ngFor="let contact of contacts">
      <div header>
        Name: {{ contact.name }}
      </div>
      <div main>
        Email: {{ contact.email }}
        <br>
        Information: {{ contact.detail.information }}
      </div>
      <div footer>
        Agregado el: {{ contact.createdDate | date }}
      </div>
    </app-content-contact-item>
  </p-scrollPanel>
  <br>
  <p-button label="Create a contact" [routerLink]="['/content/contact']"></p-button>
</article>
