.article-contacts {
  padding: 20px;
  height: auto;
  display: block;
}

:host::ng-deep .custom .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

:host::ng-deep .custom .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}

:host::ng-deep .custom .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}

.input-search{
  margin-right: 10px;
}
