<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="p-grid p-align-center vertical-container">
    <div class="p-col col-left">
      <div class="box"></div>
    </div>
    <div class="p-col col-centered">
      <div class="box">
        <p-card>
          <p-header>
            <img src="assets/svg/angular.svg" alt="Login logo" width="50" height="50" alt="Logo Angular">
          </p-header>
          <h1>Login</h1>
          <span class="ui-float-label">
            <input id="input-username" type="email" formControlName="username" pInputText>
            <label for="input-username">E-mail</label>
          </span>
          <p *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)"
            class="text-danger">
            <span *ngIf="loginForm.get('username').errors.required">Email is required. </span><br>
            <span *ngIf="loginForm.get('username').errors.notValid">Only {{ validDomains.join(',') }} are allowed.</span>
          </p>
          <span class="ui-float-label">
            <input id="input-password" type="password" formControlName="password" pInputText>
            <label for="input-password">Password</label>
          </span>
          <p *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
            class="text-danger">
            <span *ngIf="loginForm.get('password').errors.required ">Password is required.</span>
          </p>
          <p-button label="Log In" type="submit" [disabled]="loginForm.invalid"></p-button>
          <p-footer>
            <a [routerLink]="['/secure/account']">Create an account</a>
          </p-footer>
        </p-card>
      </div>
    </div>
    <div class="p-col col-right">
      <div class="box"></div>
    </div>
  </div>
</form>
