.content-contact-item{
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #eeeeee;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 15px;
}

.content-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.content-footer{
    margin-top: 10px;
    font-size: 10px;
}