<article class="content-contact-item">
  <section class="content-header">
    <ng-content select="[header]"></ng-content>
  </section>
  <section class="content-main">
    <ng-content select="[main]"></ng-content>
  </section>  
  <section class="content-footer">
    <ng-content select="[footer]"></ng-content>
  </section>
</article>