<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Project DH
      <img src="assets/svg/angular.svg" alt="" width="15" height="15">
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a [routerLink]="[item.routerLink]" routerLinkActive="active-link" *ngFor="let item of items">{{ item.label }}</a>
    <p-button label="Logout" styleClass="ui-button-secondary" (click)="logout()"></p-button>
  </div>
</div>
