<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="p-grid p-align-center vertical-container">
    <div class="p-col col-left">
      <div class="box"></div>
    </div>
    <div class="p-col col-centered">
      <div class="box">
        <p-card>
          <h1>Create a contact</h1>
          <span class="ui-float-label">
            <input id="input-avatar" type="text" formControlName="avatarid" pInputText>
            <label for="input-avatar">Avatar ID</label>
          </span>
          <p *ngIf="loginForm.get('avatarid').invalid && (loginForm.get('avatarid').dirty || loginForm.get('avatarid').touched)"
            class="text-danger">
            <span *ngIf="loginForm.get('avatarid').errors.required ">Avatar ID is required.</span>
          </p>
          <span class="ui-float-label">
            <input id="input-email" type="text" formControlName="email" pInputText>
            <label for="input-email">Email</label>
          </span>
          <p *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
            class="text-danger">
            <span *ngIf="loginForm.get('email').errors.required ">Email is required.</span>
            <br>
            <span *ngIf="loginForm.get('email').errors.notValid">Only {{ validDomains.join(',') }} are
              allowed.</span>
          </p>
          <span class="ui-float-label">
            <input id="input-information" type="text" formControlName="information" pInputText>
            <label for="input-information">Information</label>
          </span>
          <p *ngIf="loginForm.get('information').invalid && (loginForm.get('information').dirty || loginForm.get('information').touched)"
            class="text-danger">
            <span *ngIf="loginForm.get('information').errors.required ">Information is required.</span>
          </p>
          <span class="ui-float-label">
            <input id="input-name" type="text" formControlName="name" pInputText>
            <label for="input-name">Name</label>
          </span>
          <p *ngIf="loginForm.get('name').invalid && (loginForm.get('name').dirty || loginForm.get('name').touched)"
            class="text-danger">
            <span *ngIf="loginForm.get('name').errors.required ">Avatar ID is required.</span>
          </p>
          <p-button type="submit" label="Save" [disabled]="loginForm.invalid"></p-button>
        </p-card>
      </div>
    </div>
    <div class="p-col col-right">
      <div class="box"></div>
    </div>
  </div>
</form>
