:host::ng-deep .ui-inputtext {
  width: 100%;
}

:host::ng-deep .ui-button {
  margin-top: 20px;
  width: 100%;
}

p-button {
  width: 100%;
}

:host {
  text-align: center;
  display: block;
}

h1 {
  font-weight: normal;
}

.ui-float-label {
  margin-top: 20px;
}

.text-danger{
  text-align: left;
  color: #FF0000;
  font-size: 12px;
  font-weight: bold;
}

.p-grid {
  margin-right: 0;
  margin-top: 10%;
  margin-bottom: 15%;
}

@media (max-width:1000px) {

  .col-left,
  .col-right {
    display: none;
  }

  .col-centered {
    margin-left: 7px;
    margin-right: 0;
  }

  :host::ng-deep .ui-card {
    box-shadow: none;
  }
}
